#map { height: 600px; background-color: black;}


table {
    max-height: 500px; 
    overflow-y: auto;
    display: block;
}

/* custom leaflet popup style */
.leaflet-popup-content-wrapper {
    background: white;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0px;
    min-width: 250px;
    padding: 10px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}


